.main-block{
background: rgb(202, 202, 202);
width: 70%;
margin: 2rem auto;

}

.main-blog-link{

text-decoration: none;
color: inherit;


}


.main-block:hover{

    border-left: 20px solid red;

}


.main-header{

text-align: center;

}


.main-title,
.main-snippet{
    text-align: center;
    padding: 1rem;
    word-wrap: break-word;
}

.main-loading{
text-align: center;
margin-top: 10rem;
color:rgb(100, 100, 100);
font-weight: bold;
font-style: italic;
font-size: 2rem;

}

.main-empty-blog{

    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10rem;

}
